/*
 *= require bootstrap/bootstrap
 *= require bootstrap/bootstrap-responsive
 *= require flat-ui
 *= require_tree .
 *= require_self
 */

@import url("http://fonts.googleapis.com/css?family=Lato:400,700,700italic,900,400italic,300")

body


header
  // background: #34495E image-url('splash-page/bg.png') repeat-x 0 0
  background: #34495E
  width: 100%
  .top-stripe
    span
      width: 25%
      height: 8px
      float: left

      &.top-stripe-1
        background: #1ABC9C
      &.top-stripe-2
        background: #E74C3C
      &.top-stripe-3
        background: #3498DB
      &.top-stripe-4
        background: #F1C40F

  .logo
    height: 59px
    margin: 40px 0
    text-indent: -99999em

.how-it-works
  background: #34495E
  color: #ECF0F1
  padding: 20px 0 80px
  text-align: center

  h1
    font-size: 62px
    line-height: 1.25
    font-weight: bold
    text-transform: uppercase


  h2
    font-size: 26px
    margin: 0 0 40px
    letter-spacing: 1px
    font-weight: 100
    color: #95A5A6

  ul
    margin: 40px auto
    list-style: none
    display: block
    li
      margin: 0
      padding: 0 0 40px

      strong
        font-weight: 100
        font-size: 26px
        display: block
        padding: 20px 0 10px

      p
        color: #95A5A6
        font-size: 16px
        line-height: 24px
        padding: 0 40px

.notification
  text-align: center
  .email
    display: none
    margin: 0 10px 0 0
    &.error
      border-color: #D95F49
    &:focus
      border-color: #fff

  .thanks
    display: none
    font-size: 26px
    line-height: 1
    font-weight: 100
    margin: 0 0 -25px
    a
      text-align: center
      display: block
      text-indent: -9999em
      background: image-url('splash-page/tweet.png') no-repeat center center
      height: 48px
      width: 48px
      margin: 15px auto 0
      position: relative
      &:hover
        top: -5px

.why
  background: #16A085
  color: #fff
  padding: 40px 0

  h3
    text-transform: uppercase
    font-size: 48px
    letter-spacing: 1px
    font-weight: 100
    text-align: center
    line-height: 1.25
    padding: 20px 0

  ul
    margin: 60px auto
    width: 66%

    li
      list-style: none
      padding: 40px 0
      opacity: 0.9
      transition: opacity 0.4s ease-out

      &:hover
        transition: opacity 0.2s ease-out
        opacity: 1.0

      img
        margin: 0 auto
        display: block

    h4
      font-size: 24px
      line-height: 1.5
      text-transform: uppercase
      letter-spacing: 1px
    p
      font-weight: 100
      opacity: 0.8

.footer-notification
  padding: 30px 0 60px
  background: #34495E
  color: #fff

  p
    font-size: 24px
    opacity: 0.8
    padding: 20px 0
    text-transform: uppercase
    text-align: center

  .notification
    form
      .email
        display: inline

footer
  padding: 20px 0
  background: #2C3E50
  color: #fff

  ul
    margin: 0
    text-align: right
    li
      text-transform: uppercase
      font-weight: bold
      display: inline
      padding: 0 20px
      letter-spacing: 2px


@media (min-width: 767px)
  .logo
    background: image-url('logo/logo.png') no-repeat 0 0

@media (max-width: 767px)
  .notification
    .email
      display: block
      margin: 0 auto
      width: 70%
    .btn
      display: block
      margin: 10px auto 10px
      width: 70%

  .logo
    background: image-url('logo/logo.png') no-repeat center 0

  .why
    ul li img
      display: none

  footer
    ul
      text-align: center
