<header>
  <div class="top-stripe row">
    <span class="top-stripe-1"></span>
    <span class="top-stripe-2"></span>
    <span class="top-stripe-3"></span>
    <span class="top-stripe-4"></span>
  </div>
  <div class="container">
    <h1 id="logo">Fliplingo.</h1>
    <div class="header-content">
      <div class="row">
        <h1>Reach out to the World</h1>
        <h2>Fliplingo automatically publishes your content in different languages.</h2>
      </div>
      <div id="how-it-works" class="row-fluid">
        <ul class="clearfix">
          <li class="span4">
            <%= image_tag('splash-page/share.png', width: 96, height: 96, alt: 'tweet') %>
            <strong>You tweet</strong>
            <p>Update your account in your own language as usual.</p>
          </li>
          <li class="span4">
            <%= image_tag('splash-page/pensils.png', width: 96, height: 96, alt: 'translate') %>
            <strong>We translate</strong>
            <p>Fliplingo translates your tweets into up to 40 languages.</p>
          </li>
          <li class="span4">
            <%= image_tag('splash-page/chat.png', width: 96, height: 96, alt: 'publish') %>
            <strong>We publish</strong>
            <p>Fliplingo publishes your translated tweets where you need.</p>
          </li>
        </ul>
      </div>
      <form class="row control-group huge">
          <input type="email" placeholder="Your email address" name="mail" class="span4 email"  />
          <input type="submit" value="Notify me" class="btn btn-primary btn-huge btn-danger"/>
      </form>
    </div>
  </div>
</header>
<!-- /header -->

<section class="why">
  <h3>Why you will love Fliplingo</h3>
  <ul>
    <li>
      <strong>Save Time</strong>
      <p>No need to manually translate your one by one</p>
    </li>

    <li>
      <strong>Quality Translation</strong>
      <p>Choose between Machine translation and Human translation</p>
    </li>

    <li>
      <strong>Be global</strong>
      <p>Engage with people from all around the world in your own language</p>
    </li>
  </ul>
</section>
<!-- /.why -->

<footer>
  <section class="notify-me">
    <strong>The simplest </strong>
    <input type="email" value="Your email address" name="mail" id="mail" />
    <input type="submit" value="Notify me" />
  </section>

  <section class="contact-us">
    <ul>
      <li>Contact Us</li>
      <li>Twitter</li>
    </ul>
  </section>
</footer>
<!-- /footer -->
